<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Testing</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    <h3>Tubri</h3>
    <p>Price: Rs. 50.00</p>
    <p>Quantity: 1</p>
    
    <br />

    <h3>Tarabaji</h3>
    <p>Price: Rs. 20.00</p>
    <p>Quantity: 2</p>

    <form action="/checkout" method="post">
        <input type="submit" value="Proceed to Checkout" />
    </form>
</body>
</html>